.nav-bar{
    height: 64px;
    width: 100%;
    background-color: brown;
}
.nav-content{
    max-width: 1060px;
    width: 100%;
    margin:auto;
    height: 100%;
    position: relative;
}
.home-icon{
    position: absolute;
    width: 50px;
    text-align: center;
    top: 15.5px;
    cursor: pointer;
}
.nav-title{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 17px;
}
.nav-menu-icon{
    position: absolute;
    top: 15.5px;
    right: 0;
}
.filter-icon{
    cursor: pointer;
}

.content{
    max-width: 1060px;
    margin: auto;
}
.startDate{
    margin-right: 20px;
}
.footer{
    position: relative;
}
.txtFilter{
    position: absolute;
    bottom: 15px;
}
.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.none-outline {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
.device-item{
    /* position: relative; */
    display: flex;
}
.item-content{
    /* position: relative; */
    /* display: flex; */
    /* flex-grow: 1; */
    padding:2px;
}
.item-ico, .item-des{
    float: left;
}
.depart{
    margin-top: -1px;
}
.change_log{
    text-align: center;
}
.device{
    font-size: 18px;
    line-height: 1.2 !important;
}
.discription{
    font-size: 14px;
    line-height: 1.2 !important;
    word-wrap: break-word;
}
.item-des{
    padding:0;
    padding-left: 5px;
}
.submit-time{
    font-size: 10px;
    color: gray;
}

.date_filter{
    float: left;
    margin-right: 15px;
}

.txt-search{
    width:200px ;
    float: left;
}
table {
    width: 100%;
  }
.btn_excel, .btn-filter{
    border: 0;
    padding: 11px 15px;
    border-radius: 5px;
}
.btn_excel{
    background-color: rgba(2, 136, 42, 0.267);
}
.btn-filter{
    background-color: rgba(172, 175, 173, 0.267);
}
/* .foot_page{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
} */
.expansion, .content-header{
    padding-top: 5px;
}
.content-header{
    display: grid;
    grid-template-columns: 1fr auto;
}
.expansion-header{
    width: 120px !important;
    background-color: rgba(172, 175, 173, 0.267);
}

.th-device, .th-depart{
    background-color: rgba(63, 62, 62, 0.507);
    color: white;
}
.th-depart{
    border-radius: 0 15px 0 0;
}
.th-device{
    border-radius: 15px 0 0 0;
}