<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <app-toggle></app-toggle>
  </mat-sidenav>
  <div class="example-sidenav-content nav-bar">
    <button type="button" id="sidebarCollapse" class="btn-nav" md-button (click)="sidenav.open()">
      <i class="fa fa-align-justify" aria-hidden="true"></i>
    </button>
  </div>




</mat-sidenav-container> -->

<app-main-nav class="main-nav">
  <div class="content">
      <button mat-raised-button class="btn">test</button>
  </div>
</app-main-nav>

