/* .example-container {
    height: 100vh;
}
  
.example-sidenav-content {
    display: flex;
}
  
.example-sidenav {
    padding-top: 0;
}

.nav-bar{
    background-color: brown;
    align-items: center;
    height: 40px;
    padding-left: 5px;
}
.btn-nav{
    background-color: brown;
    border: none;
    color: white;

} */
body{
    margin: 0;
}
.content{
    position: relative;
    max-width: 1060px;
    margin: auto;
    height: calc(100% - 64px);
}
.btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
@media(min-width:600px){
    .content{
        height: calc(100% - 156px);
    }
}