<div class="nav-bar">
  <div class="title-body-content">
    <button type="button" mat-icon-button (click)="back_Clicked()">
      <mat-icon aria-label="Side nav toggle icon" class="btn_back_icon">navigate_before</mat-icon>
      <span class="lb">ແຈ້ງບັນຫາຄອມພິວເຕີ</span>
    </button>
  </div>
</div>
<div class="containner">
  <form class="submit-form" [formGroup]="submitForm">
    <label id="radio-group-label" style="background-color:white;">ອຸປະກອນ</label>
    <div class="frame">
      <mat-radio-group class="radio-group" formControlName="rd_device" #radioGroup="matRadioGroup"
        (change)="rd_changed($event)">
        <mat-radio-button value="Computer" class="rd_btn" id="rd01" checked>Computer</mat-radio-button>
        <mat-radio-button value="Printer" class="rd_btn" id="rd02">Printer</mat-radio-button>
        <mat-radio-button [value]="test" class="rd_btn" checked={{rd_select}} id="rd03">
          <mat-form-field [floatLabel]="'never'">
            <input matInput placeholder="ອື່ນໆ..." formControlName="txt_rd" [(ngModel)]="test"
              (click)="rd_select = true">
          </mat-form-field>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <!-- <label style="background-color:white;">ອາການ</label> -->
    <!-- <mat-form-field>
        <mat-label>ອາການ</mat-label>
        <textarea matInput formControlName="txt_des" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
    </mat-form-field> -->
    <mat-form-field style="width: 100%;" appearance="outline" [floatLabel]="'always'">
      <mat-label style="font-size:25px !important;">ອາການ</mat-label>
      <textarea matInput rows="5" formControlName="txt_des"></textarea>
    </mat-form-field>
    <button type="button" class="btn btn-labeled btn-danger">
      <span class="btn-label">
        <mat-icon>photo_size_select_actual</mat-icon>
      </span>
      <span class="btn-text">ເລືອກຮູບ</span>
    </button>
    <mat-radio-group class="radio-group" formControlName="rd_choices" #radioGroup="matRadioGroup">
      <mat-radio-button value="1" class="rd_btn" id="rdc1">ສ້ອມແປງດ່ວນ</mat-radio-button>
      <mat-radio-button value="0" class="rd_btn" id="rdc2" checked>ບໍ່ດ່ວນ</mat-radio-button>
    </mat-radio-group>
    <label id="radio-group-label" style="background-color:white;">ຜູ້ແຈ້ງ</label>
    <div class="frame">
      <mat-form-field [floatLabel]="'never'" style="width: 100%; padding-left: 20px; padding-right: 20px;">
        <input matInput placeholder="ຊື່..." formControlName="txtU_Name">
      </mat-form-field>
      <mat-form-field style="width: 100%; padding-left: 20px; padding-right: 20px; margin-top: -20px;">
        <label>ພະແນກ</label>
        <mat-select formControlName="department">
          <mat-option value="OP">OP</mat-option>
          <mat-option value="TR">TR</mat-option>
          <mat-option value="TC">TC</mat-option>
          <mat-option value="GO">GO</mat-option>
          <mat-option value="Q&S">Q&S</mat-option>
          <mat-option value="L&M">L&M</mat-option>
          <mat-option value="SO">SO</mat-option>
          <mat-option value="MK">MK</mat-option>
          <mat-option value="FN">FN</mat-option>
          <mat-option value="AD">AD</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button type="button" (click)="submit()" class="btn-submit btn-labeled btn-danger">
      Submit
    </button>
  </form>
  <!-- <label for="test">{{radioGroup.value}}</label> -->
  <!-- <label for="test">{{rd_select}}</label> -->
</div>