<div class="nav-bar">
  <div class="title-body-content">
    <span class="lb">Item Info</span>
  </div>
  <img class="close_icon" src="assets/images/delete.svg" (click)="close()">
</div>
<div class="content">
  <div class="image">
    <div *ngIf="data.device=='Computer'">
      <img src="assets/images/computer.svg" class="img-responsive" alt="Image" style="width: 100px;">
    </div>
    <div *ngIf="data.device=='Internet'">
      <img src="assets/images/wifi.svg" class="img-responsive" alt="Image" style="width: 100px;">
    </div>
    <div *ngIf="data.device=='Printer'">
      <img src="assets/images/printer.svg" class="img-responsive" alt="Image" style="width: 100px;">
    </div>
    <div *ngIf="data.device!='Computer' && data.device!='Internet' && data.device!='Printer'">
      <img src="assets/images/wrench.svg" class="img-responsive" alt="Image" style="width: 100px;">
    </div>
  </div>
  <div class="description">ອາການ: {{data.description}} <span style="color: red;"
      *ngIf="data.priotity==1">(ສ້ອມແປງດ່ວນ)</span></div>
  <div class="em">ຜູ້ແຈ້ງ: {{data.u_name}}, ພະແນກ {{data.department}}</div>
  <div class="fix_status">ສະຖານະ: {{data.fix_info.status}}</div>
  <!-- <div class="fix-status">
    <div class="rd" (click)="rd_selected('ລໍຖ້າສ້ອມແປງ')">
      <div class="btn-rd">
        <div [ngClass]="{'rd-selected':rd1}"></div>
      </div>
      <div>ລໍຖ້າສ້ອມແປງ</div>
    </div>
    <div class="rd" (click)="rd_selected('ກຳລັງສ້ອມແປງ')">
      <div class="btn-rd">
        <div [ngClass]="{'rd-selected': rd2}"></div>
      </div>
      <div>ກຳລັງສ້ອມແປງ</div>
    </div>
    <div class="rd" (click)="rd_selected('ສ້ອມແປງແລ້ວ')">
      <div class="btn-rd">
        <div [ngClass]="{'rd-selected': rd3}"></div>
      </div>
      <div>ສ້ອມແປງແລ້ວ</div>
    </div>
  </div> -->
  <div class="item-box">
    <button type="button" class="btn-cus" (click)="edit_item_status()"><i class="fa fa-plus"></i>
      ຂໍ້ຄວາມເຖິງຜູ້ແຈ້ງ</button>
    <textarea #txtStatus rows="3" class="item-status" (keyup)="onEdit()" id="item-status"
      [(ngModel)]="statusText">{{statusText}}</textarea>
  </div>
  <div class="item-box">
    <button type="button" class="btn-cus" (click)="editDevice_status()"><i class="fa fa-plus"></i> ສາເຫດ</button>
    <textarea #txtDevice rows="3" class="item-status" id="item-status" (keyup)="onEdit()"
      [(ngModel)]="deviceStatusText">{{deviceStatusText}}</textarea>
  </div>
  <button type="button" class="btn btn-success">ວິທີສ້ອມແປງ</button>
  <div class="fix_success">
    <div class="cb_success" (click)="cb_click()">
      <img src="assets/images/checked.svg" class="img-responsive" alt="Image" style="width: 20px;"
      [ngClass]="{'hide': cb_unchecked}">
      <div class="unCkeck-ico" [ngClass]="{'hide': !cb_unchecked}"></div>
      <div class="cb_label noselect" style="margin-left: 3px;">ສ້ອມແປງສຳເລັດ</div>
    </div>
  </div>
  <div class="repair-list">

  </div>
  <!-- <pre>{{data | json}}</pre> -->
  <div class="bottom-btn">
    <button (click)="btnOk_click()" class="btn-ok">ok</button>
    <button #btnApply (click)="apply()" class="btn-apply">apply</button>
  </div>
</div>