<app-main-nav class="main-nav" (logOut_Clicked)="logout()">
    <div class="content">
        <ul class="list-group">
            <div *ngFor="let item of deviceList">
                <li class="list-group-item device-item" *ngIf="item.request_em.key==user.key">
                    <div class="item-ico">
                        <ng-template [ngIf]="item.device=='Computer'">
                            <img src="assets/images/computer.svg" class="img-responsive" alt="Image"
                                style="width: 50px;">
                        </ng-template>
                        <ng-template [ngIf]="item.device=='Internet'">
                            <img src="assets/images/wifi.svg" class="img-responsive" alt="Image" style="width: 50px;">
                        </ng-template>
                        <ng-template [ngIf]="item.device=='Printer'">
                            <img src="assets/images/printer.svg" class="img-responsive" alt="Image"
                                style="width: 50px;">
                        </ng-template>
                        <ng-template
                            [ngIf]="item.device!='Computer' && item.device!='Internet' && item.device!='Printer'">
                            <img src="assets/images/wrench.svg" class="img-responsive" alt="Image" style="width: 50px;">
                        </ng-template>
                    </div>
                    <div class="item-des">
                        <div class="device">{{item.device}}</div>
                        <!-- <div class="discription">ອາການ:{{item.discription | slice:0:15}}...</div> -->
                        <div class="discription">ອາການ:{{item.description}}</div>
                    </div>
                    <div class="submit-time">
                        <img src="assets/images/clock.svg" style="width: 15px;">
                        {{item.submit_date | date:'dd MMM yyyy h:mm a'}}
                    </div>
                    <div class="item-status">{{item.item_status}}</div>

                </li>
            </div>
        </ul>

        <!-- <pre>{{deviceList | json}}</pre> -->

        <button mat-mini-fab class="btn" (click)="openDialog()">
            <mat-icon>add_to_photos</mat-icon>
        </button>
    </div>
</app-main-nav>