body{
    margin: 0;
}
.content{
    position: relative;
    max-width: 1060px;
    margin: auto;
    height: calc(100% - 64px);
}
.btn{
    background-color: brown;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
@media(min-width:600px){
    .content{
        height: calc(100% - 156px);
    }
}

.device-item{
    position: relative;
    display: flex;
    align-items:center;
}
.device{
    font-size: 18px;
    line-height: 1.2 !important;
}
.discription{
    font-size: 14px;
    line-height: 1.2 !important;
    max-width: 150px;
    word-wrap: break-word;
}
.item-des{
    padding:0;
    padding-left: 5px;
}
.submit-time{
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
}